ion-title {
    text-align: center;
}

body {
    background-color: #323232;
}

.buttons {
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: #323232;
}

.login {
    margin-top: 25vh;
}