<!DOCTYPE html>
<html>
    
<head>
    <title>Aquaria contact form</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <meta name="”viewport”" content="”width=device-width," initial-scale="1.0”">
  </head>
  <body>
    <!--Container-->
    <div class="container">
    	
      <!--Contact Form-->
      <div id="aquaria_form_alert" class="alert" role="alert" style="font-size: 20px;">
        <strong></strong> <span></span>
      </div>
      <form role="form" class="aquaria_form" onsubmit="return false"><section id="aquaria_module_1" class="aquaria_title aquaria_module col-sm-12" style="margin-bottom: 20px;">
          <h2 style="color: rgb(35, 173, 178); font-size: 40px;">Contact us</h2>
        </section><section id="aquaria_module_2" class="input-group aquaria_module col-sm-6" style="margin-bottom: 20px;">
          <span class="input-group-addon" style="background: rgb(50, 50, 50); border-color: rgb(35, 173, 178); border-radius: 30px;"><i class="fa fa-envelope-o" style="color: rgb(35, 173, 178); font-size: 20px !important;"></i></span>
          <input type="email" name="Email" data-validation="email" data-err-msg="Incorect email address" class="form-control" placeholder="Your Email" style="color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); height: 40px; border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);">
        </section><section id="aquaria_module_3" class="input-group aquaria_module col-sm-6" style="margin-bottom: 20px;">
          <span class="input-group-addon" style="background: rgb(50, 50, 50); border-color: rgb(35, 173, 178); border-radius: 30px;"><i class="fa fa-user" style="color: rgb(35, 173, 178); font-size: 20px !important;"></i></span>
          <input type="text" name="Name" data-validation="empty-value" data-err-msg="Please enter name" class="form-control" placeholder="Your Name" style="color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); height: 40px; border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);">
        </section><section id="aquaria_module_4" class="input-group aquaria_module col-sm-12" style="margin-bottom: 20px;">
          <span class="input-group-addon" style="background: rgb(50, 50, 50); border-color: rgb(35, 173, 178); border-radius: 30px;"><i class="fa fa-header" style="color: rgb(35, 173, 178); font-size: 20px !important;"></i></span>
          <input type="text" name="Subject" data-validation="" data-err-msg="" class="form-control" placeholder="Subject" style="color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); height: 40px; border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);">
        </section><section id="aquaria_module_5" class="input-group aquaria_module col-sm-4" style="margin-bottom: 20px;">
          <span class="input-group-addon" style="background: rgb(50, 50, 50); border-color: rgb(35, 173, 178); border-radius: 30px;"><i class="fa fa-check" style="color: rgb(35, 173, 178); font-size: 20px !important;"></i></span>
          <select name="Option_name_1" data-validation="empty-value" data-err-msg="Please select one of this option" class="form-control" style="color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); height: 40px; border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);">
            <option selected="" disabled="" value="null">Option name 1</option>
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
          </select>
        </section><section id="aquaria_module_6" class="input-group aquaria_module col-sm-4" style="margin-bottom: 20px;">
          <span class="input-group-addon" style="background: rgb(50, 50, 50); border-color: rgb(35, 173, 178); border-radius: 30px;"><i class="fa fa-check" style="color: rgb(35, 173, 178); font-size: 20px !important;"></i></span>
          <select name="Option_name_2" data-validation="" data-err-msg="" class="form-control" style="color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); height: 40px; border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);">
            <option selected="" disabled="" value="null">Option name 2</option>
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
          </select>
        </section><section id="aquaria_module_7" class="input-group aquaria_module col-sm-4" style="margin-bottom: 20px;">
          <span class="input-group-addon" style="background: rgb(50, 50, 50); border-color: rgb(35, 173, 178); border-radius: 30px;"><i class="fa fa-check" style="color: rgb(35, 173, 178); font-size: 20px !important;"></i></span>
          <select name="Option_name_3" data-validation="" data-err-msg="" class="form-control" style="color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); height: 40px; border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);">
            <option selected="" disabled="" value="null">Option name 3</option>
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
          </select>
        </section><section id="aquaria_module_8" class="input-group aquaria_module col-sm-12" style="margin-bottom: 20px;">
          <p class="separ" style="color: rgb(35, 173, 178); border-color: rgb(50, 50, 50); font-size: 20px;"></p>
        </section><section id="aquaria_module_9" class="input-group aquaria_module col-sm-12" style="margin-bottom: 20px;">
          <p style="color: rgb(35, 173, 178); font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, sit aliquam dolorem autem accusamus tempore voluptatem omnis libero sed cumque distinctio natus odit alias nulla porro, corporis, molestiae itaque iste.</p>
        </section><section id="aquaria_module_10" class="input-group aquaria_module date col-sm-6" style="margin-bottom: 20px;">
          <span class="input-group-addon" style="background: rgb(50, 50, 50); border-color: rgb(35, 173, 178); border-radius: 30px;"><i class="fa fa-calendar" style="color: rgb(35, 173, 178); font-size: 20px !important;"></i></span>
          <input type="text" name="From" data-format="LL" data-locale="en-ca" data-validation="" data-err-msg="" class="form-control" placeholder="From" autocomplete="off" style="color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); height: 40px; border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);">
        </section><section id="aquaria_module_11" class="input-group aquaria_module col-sm-6" style="margin-bottom: 20px;">
          <button class="btn btn-lg btn-block  btn-primary attach_bt" style="border-radius: 30px; font-size: 20px;"><i class="fa fa-cloud-upload"></i> <span class="attach_h" style="border-color: rgb(35, 173, 178);"> Upload file</span></button>
          <input style="display: none; color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); height: 40px; border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);" class="form-control attach" name="attach_name_1" type="file">
        </section><section id="aquaria_module_12" class="input-group aquaria_module col-sm-6" style="margin-bottom: 20px;">
          <p class="input_p" style="color: rgb(35, 173, 178); font-size: 20px;">Checkboxes</p>
          <input type="hidden" class="form-control cvals" data-validation="" data-err-msg="" name="Checkboxes" style="color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); height: 40px; border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);">
          <div class="checkbox checkbox-inline">
            <input type="checkbox" id="labelId_1" style="color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); height: 40px; border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);">
            <label for="labelId_1" style="color: rgb(35, 173, 178); font-size: 20px;"> Option 1</label>
          </div>
          <div class="checkbox checkbox-inline">
            <input type="checkbox" id="labelId_2" checked="" style="color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); height: 40px; border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);">
            <label for="labelId_2" style="color: rgb(35, 173, 178); font-size: 20px;"> Option 2</label>
          </div>
          <div class="checkbox checkbox-inline">
            <input type="checkbox" id="labelId_3" checked="" style="color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); height: 40px; border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);">
            <label for="labelId_3" style="color: rgb(35, 173, 178); font-size: 20px;"> Option 3</label>
          </div>
        </section><section id="aquaria_module_13" class="input-group aquaria_module col-sm-6" style="margin-bottom: 20px;">
          <p class="input_p" style="color: rgb(35, 173, 178); font-size: 20px;">Radios 13</p>
          <input type="hidden" class="form-control rvals" data-validation="" data-err-msg="" style="color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); height: 40px; border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);">
          <div class="radio radio-inline">
            <input type="radio" id="labelId_4" value="Option 1" name="Radios_13" style="color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); height: 40px; border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);">
            <label for="labelId_4" style="color: rgb(35, 173, 178); font-size: 20px;">Option 1</label>
          </div>
          <div class="radio radio-inline">
            <input type="radio" id="labelId_5" value="Option 2" name="Radios_13" style="color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); height: 40px; border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);">
            <label for="labelId_5" style="color: rgb(35, 173, 178); font-size: 20px;">Option 2</label>
          </div>
          <div class="radio radio-inline">
            <input type="radio" id="labelId_6" value="Option 3" name="Radios_13" style="color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); height: 40px; border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);">
            <label for="labelId_6" style="color: rgb(35, 173, 178); font-size: 20px;">Option 3</label>
          </div>
        </section><section id="aquaria_module_14" class="input-group aquaria_module col-sm-12" style="margin-bottom: 20px;">
          <textarea name="Message" data-validation="" data-err-msg="" class="form-control" placeholder="Message" style="color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);"></textarea>
        </section><section id="aquaria_captcha" class="input-group aquaria_module col-sm-6" style="margin-bottom: 20px;">
          <span class="aquaria_captcha_addon" style="border-color: rgb(35, 173, 178);"><img id="aquaria_captcha_pic" src="captcha/captcha.php"></span>
          <i class="fa fa-refresh" onclick="aquariaFormBuilder.ressetCaptcha(true)"></i>
          <input id="aquaria_captcha-form" type="text" data-validation="empty-value" data-err-msg="Please enter captcha code" class="form-control" placeholder="Captcha code" name="aquaria_captcha-form" autocomplete="off" style="color: rgb(35, 173, 178); border-color: rgb(35, 173, 178); height: 40px; border-radius: 30px; font-size: 20px; background: rgb(50, 50, 50);">
        </section><section id="aquaria_form_submit" class="input-group aquaria_module col-sm-5" style="margin-bottom: 20px;">
          <button class="btn btn-lg btn-primary btn-block" data-loading-text="Sending ..." autocomplete="off" type="submit" style="border-radius: 30px; font-size: 20px;">Send message</button>
        </section></form>
      <!--End contact Form-->

    </div>
    <!--End container-->

		<!--Modal-->
    <div id="aquariaModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="aquariaModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="aquariaModalLabel"><i style="color: green;" class="fa fa-check-circle"></i> <span id="aquariaModalLabelTitle"></span><a class="anchorjs-link" href="#aquariaModalLabel"><span class="anchorjs-icon"></span></a></h4>
          </div>
          <div class="modal-body">
            <p></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
    <!--End modal-->

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="js/datetimepicker.min.js"></script>
    <script type="text/javascript" src="js/aquaria.form.js"></script>
  
</body></html>