// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #23ADB2;
  --ion-color-primary-rgb: 35, 173, 178;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #1f989d;
  --ion-color-primary-tint: #39b5ba;

  --ion-color-secondary: #FFBB32;
  --ion-color-secondary-rgb: 255, 187, 50;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0a52c;
  --ion-color-secondary-tint: #ffc247;

  --ion-color-tertiary: #9528CC;
  --ion-color-tertiary-rgb: 149, 40, 204;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #8323b4;
  --ion-color-tertiary-tint: #a03ed1;

  --ion-color-success: #23ADB2;
  --ion-color-success-rgb: 35, 173, 178;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #1f989d;
  --ion-color-success-tint: #39b5ba;

  --ion-color-warning: #FFBB32;
  --ion-color-warning-rgb: 255, 187, 50;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0a52c;
  --ion-color-warning-tint: #ffc247;

  --ion-color-danger: #CC2874;
  --ion-color-danger-rgb: 204, 40, 116;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #b42366;
  --ion-color-danger-tint: #d13e82;

  --ion-color-dark: #323232;
  --ion-color-dark-rgb: 50, 50, 50;
  --ion-color-dark-contrast: #23ADB2;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #2c2c2c;
  --ion-color-dark-tint: #474747;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}