<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>

    <ion-item>
      <ion-input required type="text" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="password" placeholder="Passwort"></ion-input>
    </ion-item>

    <ion-button shape="round" color="primary" fill="outline" (click)=register()>Register</ion-button>

  </ion-list>



</ion-content>